@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Code+Pro:ital,wght@1,300&display=swap');

* {
    margin: 0; padding: 0;  list-style: none; border: 0; box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif, 'Modern Antiqua',cursive, Arial, Helvetica ;
}


main {
    width: 100%;
    height:calc(100vh - env(safe-area-inset-bottom));
}

.container {
    width: 100%;
    height:calc(100vh - env(safe-area-inset-bottom));
    transition: all 1s;
    z-index: 1;
}

/* .container.active {z-index: 2;} */


.name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 5rem;
    z-index: 100;
    transition: all 1s;
}


.pl-2 {padding-left: 20px;}
.pl-4 {padding-left: 40px;}
.pl-6 {padding-left: 60px;}



/*  ******************************************************* */
/*  ****************    Left Content   ******************** */
/*  ******************************************************* */


#left-content {
    position: relative;
    background-color: black;
    padding-right: 10%;
    z-index: 2;
    clip-path: polygon(0% 0%,100% 0%,0% 100%, 0% 100%);
    cursor: pointer;
}

#left-content.active {clip-path: polygon(0% 0%, 90% 0%,90% 100%, 0% 100%); cursor: initial;}
#left-content.reduced {clip-path: polygon(0% 0%, 10% 0%, 10% 100%, 0% 100%);}


#left-content.active .name {
    left: 45%;
    top: 30px;
    font-size: 1.5rem;
}
#left-content .name:before {
    content: 'Developer';
    text-transform: capitalize;
    position: absolute;
    left: 1px;
    top: -48%;
    font-size: 20px;
    color: rgb(255,255,255,0.5);
}
#left-content.active .name:before {font-size: 12px;}

#left-content.reduced .name {left: 45%; top: 50px; font-size: 1.5rem; opacity: 0;}

#left-content .subtitle {
    color: white;
    font-size: 1.5rem;
}
#left-content .subtitle a{ color:rgb(66, 189, 164); }


#left-content header {
    position: absolute;
    left: -10%;
    right: 0px;
    width: 90%;
    padding: 40px 20px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: opacity 1s, left 1s;
}
#left-content.active header {opacity: 1; left: 0;}
#left-content.active .subtitle a {opacity: 1;}

#left-content .close{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}
#left-content.active .close {opacity: 1;}

#left-content .content {
    font-size: 1.1rem;
    padding: 100px 20px 50px;
    overflow: scroll;
    color: white;
    max-height: 100%;
    opacity: 0.15;
    transition: opacity 1s;
}

#left-content.active .content {opacity: 1;}


/* HTML TAGS */
.tag {
    color: #808080;
    font-weight: 100;
    font-family: 'Source Code Pro', monospace;
    opacity: 0.8;
}
.tag:hover {opacity: 1;}

.tag a {color: rgb(66, 189, 164); text-decoration: underline;}
.blue {color: #074273;}
.light-blue {color: #3082ad;}
.white {color: #fff;}
.green {color: rgb(61, 150, 135);}
.orange {color: #fbbd64;}

.tag b {color: rgb(212, 255, 212);}

.tag .text-lg {font-size: 1.2rem;}
.tag .text-2x {font-size: 1.5rem;}

.table.triple {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.pulse {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
    opacity: 0;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#left-content .pulse {
    left: 30%;
    top: 30%;
    background: #fff;
    color: black;
    animation: pulse 2.5s 3s 5 forwards;
}

#right-content .pulse {
    left: 70%;
    top: 70%;
    background: #000;
    color: white;
    animation: pulse 2.5s 4.5s 5 forwards;
}


@keyframes pulse {
    0% { opacity: 0.7; width: 20px; height: 20px;}
    10% {opacity: 0.2; width: 60px; height: 60px;}
    50% {opacity: 0.3; width: 40px; height: 40px;}
    100% {opacity: 0; width: 20px; height: 20px;}
}




/*  ******************************************************** */
/*  ****************    Right Content   ******************** */
/*  ******************************************************** */



#right-content{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


#right-content:after{
    background-color: rgba(240, 251, 255);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    transition: opacity 1s;
}
#right-content.active{cursor: initial;}
#right-content.active:after {opacity: 0;}

#right-content .gallery{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./images/photos/photo-1.jpg?1");
    background-size: cover;
    background-position: center 40%;
}
#right-content .close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}
#right-content.active .close{opacity: 1;}


#right-content .name {color: black;}
#right-content .name::after {
    content: 'Photographer';
    text-transform: capitalize;
    position: absolute;
    right: 0px;
    bottom: -50%;
    font-size: 22px;
    color: rgb(0,0,0,0.5);
    transition: opacity 1s;
}
#right-content.active .name {
    left: 55%;
    top: calc(100% - 100px); 
    font-size: 1.5rem;
    color: white;
}
#right-content.active .name::after {color: rgba(255, 255, 255, 0.5); font-size: 14px;}
#right-content.reduced .name {left: 55%; top: calc(100% - 70px); font-size: 1.5rem; opacity: 0;}

#right-content .subtitle {
    opacity: 0.7; 
    white-space: nowrap;
    color: white;
    position: absolute;
    text-align: center;
    right: 30%;
    bottom: 2rem;
    font-size: 1.2rem;
    transform: translate(+50%, 0);
    opacity: 0;
    transition: all 1.2s;
    z-index: 1;
}

#right-content.active .subtitle {opacity: 1; bottom: 120px; right: 45%; font-size: 1.2rem;}
#right-content.reduced .subtitle {opacity: 0; bottom: 120px; right: 45%; font-size: 1.2rem;}

#right-content .subtitle .controls {margin-bottom: 20px;}

#right-content .controller {
    opacity: 0;
     margin: 0 20px 0px 20px;
     font-size: 1.5rem;
     color: white;
     transition: opacity 1s;
}
#right-content.active .controller {opacity: 1;}

#right-content #social {
    /* display: none; */
    /* position: absolute;
    right: 30%; */
    /* bottom: 100px;
    transform: translate(-50%, 0); */
    font-size: 1.5rem;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s;
}

#right-content.active #social {opacity: 1;}
#social a {color: rgba(255, 255, 255, 0.7); text-shadow: none; margin: 0px 10px;}
#social a:hover {color: rgb(61, 150, 135);}

/* #right-content .name, #right-content .subtitle, #right-content .subtitle * {
    text-shadow: 0px 0px 2px rgb(150, 150, 150);
    filter: drop-shadow(0px 0px 2px rgb(150, 150, 150));
} */




/*  ******************************************************** */
/*  ******************    RESPONSIVE   ********************* */
/*  ******************************************************** */



@media screen and (max-width: 900px) {
    #left-content .content {font-size: 0.8rem; padding: 100px 10px 20px;}
    #left-content.active .name {font-size: 1.2rem;}
    #left-content .subtitle {font-size: 1rem;}

    #left-content.active .name {
        left: 45%;
        top: 30px;
        font-size: 1.5rem;
    }

    #left-content.active .name:before {
        font-size: 0.7rem;
    }
    
    .table.triple {grid-template-columns: auto;}
    .table.triple .cell {margin-bottom: 10px;}
    
    .name {font-size: 2rem; white-space: nowrap;}
    #right-content .gallery{background-position: 70% center;}
    #right-content.active .name {top: calc(100% - 100px); }
    #right-content.active .subtitle{bottom: 120px;}

    .text-lg {font-size: 0.9rem !important;}
    .text-2x {font-size: 1rem !important;}
    

    .pl-2 {padding-left: 10px;}
    .pl-4 {padding-left: 20px;}
    .pl-6 {padding-left: 30px;}
    
}